<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="{headDescription}">
    <meta name="Keywords" content="{headKeyword}">
    <meta name="robots" content="{headRobot}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,user-scalable=yes">
    <title>{headTitle}</title>
    <link rel="stylesheet" type="text/css" href="plugin/bootstrap/css/bootstrap-cosmo.css">
    <link rel="stylesheet" type="text/css" href="plugin/jquery/jquery_ui.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style/base.css">
    <!--script src="plugin/jquery/jquery.min.js"></script-->
    <!--script src="plugin/jquery/jquery_ui.js"></script-->
<script type="text/javascript" src="../javascript/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../javascript/jquery/ui/jquery1.10.1-ui.min.js"></script>
    <!--script src="plugin/jquery/jquery.autocomplete.js"></script-->
    <script src="plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="javascript/common_functions.js"></script>
    <script src="javascript/autocomplete_functions.js"></script>
    <link href="../lib/jquerybuttonLoader/buttonLoader.css" rel="stylesheet">
    <script src="../lib/jquerybuttonLoader/jquery.buttonLoader.js"></script>
    {sysHead}
    {head}
    {sysHead2}
  </head>
  <body>
    <div class="container-fluid">
      {body}
    </div>
  </body>
</html>